@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap');

*{
  font-family: var(--outfit);
}

:root {
  --outfit: 'Outfit', sans-serif;
  --main-color: #A0A0A0;
  --font-bebas: 'Bebas Neue', sans-serif;
  --font-Spline: 'Spline Sans', sans-serif;
}

body {
  overflow-x: hidden;
  background-color: #FAFAFA;
}



.menuList ul {
  display: flex;
  gap: 32px;
}

.menuList ul li {
  font-family: var(--outfit);
  font-weight: 500;
  font: 16px;
  color: #464646;
  cursor: pointer;
}


.registration button {
  font-family: var(--outfit);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.signup-header {
  background: url(images/Header.svg);
}



